.header {
    
}
.header__title {
   
font-family: Inter;
font-size: 50px;
font-weight: 500;
line-height: 64px;
    height: 82px;
    padding: 0;
    grid-area: header;
    background-color: #DDE2E5;

}