

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-areas: "header" "main" "footer";
}
.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
    background-color: #DDE2E5;
}

.header {
    height: 82px;
    padding: 0;
    grid-area: header;
    background-color: #ffffff;
}
.conteiner{
    
    max-width: 1100px;
    margin: 0 auto;
}
    
.content {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-column-gap: 56px;
    grid-area: main;
   

   

}
.menu {
    width: 229px;
    display: flex;
    flex-direction: column;
    
}
.component__description{
    width: 100%;
    max-width: 740px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.discription__title {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: #495057;
margin-left: 48px;


}
.footer {
    text-transform:uppercase ;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
     font-size: 12px;
    line-height: 18px; 
    color:#ACB5BD;
    padding: 0;
    grid-area: footer;
}

.content__menu_title {
    
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   margin-bottom: 16px;

}
.menu__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212429;
}
.menu__list:last-child {
   margin-top: 30px;
}