/* Стилизация кнопки */
.button_general{
border-radius: 8px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
padding: 15px 58px 14px 58px;
border: none;

}

.button_secondary{
color: #ffffff;
background-color:  #5028C6;

transition: background-color 0.3s linear 0s;
}


.button_secondary:hover {
    background-color:#7048E8;
    
}
.button_secondary:active {
    background-color: #5028C6;

}

.button_secondary-disabled:disabled {
    opacity: 0.5;
    background-color:#7048E8;
    color: #ffffff;
}


.button_primary {
    color: #ffffff;
    background-color:  #2342C0;
    transition: border-color 0.3s linear 0s
}

.button_primary:hover {
    background-color:  #4263EB;

}
.button_primary:active {
    background-color: #2342C0;

}

.button_primary-disabled {
    color: #ffffff;
    background-color: #4263EB;
    opacity: 0.5;


    

}


.button_alternate {
    color: #495057;
    background-color: #ffffff;
    border: 1px solid #ACB5BD;
    transition: border-color 0.3s linear 0s

}
.button_alternate:hover {
    border-color: #212429;

} 
.button_alternate:active {
    color: #212429;

} 

.button_alternate-disabled:disabled {
    color: #495057;
    border: 1px solid#ACB5BD;
    opacity: 0.5;

}