/* Стилизация аккордеона */


details {
  border-radius: 8px;
  padding: 17px 228px 13px 24px;
  display: inline-block;
}

.deteils_dropdown {
  color:  #495057;
  border: 1px solid #ACB5BD;
}



.accordion__summary { 
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;

}
.accordion__summary::-webkit-details-marker {  
  display: none;
}

.accordion_item {
  font-size: 20px; 
  font-weight: 400;
  line-height: 26px;

}
