
.page {
    height: 100%;

    grid-template-areas: "header" "main" "footer";
}
.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
    background-color: #DDE2E5;
}

