.footer { 
    padding: 72px 136px;
    text-align: center;
}
.footer__title {

font-family: Inter;
font-size: 38px;
font-weight: 500;
line-height: 48px;


}
.footer__description {
    margin-top: 32px;    
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;

}