.footer { 
    text-transform:uppercase ;
    height: 130px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-area: footer;

}
.footer__title {

font-family: Inter;
font-style: normal;
font-size: 12px;
font-weight: 500;
line-height: 18px; 
color:#ACB5BD;

}
.footer__description {
    margin-top: 32px;    
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;

}