.checkbox {
    display: inline-block;
    position: relative;
}
.checkbox__input {
display: none;
position: absolute;
outline: none;
}
.checkbox__state {
    display: inline-flex;
    align-items: center;
    gap: 12;
    cursor: pointer;
    clip: rect(0,0,0,0);

}
.checkbox__control {
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #DDE2E5;
border-radius: 4px;
width: 24px;
height: 24px;
display: inline-flex;
align-items: center;
justify-content: center;
}
.chechbox__icon {
}
.checkbox__title {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #495057;

}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:control ~ .checkbox__state .checkbox__text {
    text-decoration: underline;
}