.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    height: 82px;
}
.content {
}
.menu {
}
.component {
}
.footer {
    text-transform:uppercase ;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
     font-size: 12px;
    line-height: 18px; 
    color:#ACB5BD;
}