

@media  (min-width: 300px){
    body { 
        background: url("./public/forest_400.jpg");
        
    }
    

}
@media  (min-width: 576px){
    body { 
        background: url("./public/forest_768.jpg");
        
    }
    

}

@media  (min-width: 768px){
    body { 
        background: url("./public/forest_1024.jpg");
        
    }
    

}
@media  (min-width: 1000px){
    body { 
        background: url("./public/forest_2560.jpg");
        
    }
    

}

body { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}